{% extends 'base.html' %}

{% block title %}Theory Affinity - Subscription Management | Homepage{% endblock %}

{% block content %}
<h2>Welcome to Theory Affinity</h2>
<h4>We are a subscription management service that helps you keep track of all your subscriptions in one place.</h4>
<hr>
<main>
  <section>
    <h2>About Us</h2>
    <p>We are a team of experts in various fields, dedicated to providing high-quality services to our clients.</p>
  </section>
  <section>
    <h2>Our Services</h2>
    <ul>
      <li>Twitter</li>
      <li>Telegram</li>
      <li>Discord</li>
      <li>Patreon</li>
      <li>Trading View</li>
      <li>Thinkorswim</li>
      <li>NinjaTrader8</li>
      <li>Sierra Chart</li>
    </ul>
  </section>
</main>

{% endblock content %}